/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */

/* hint and unsupported content */
div.fallback-message {
    display: none;
}

b {
    font-weight: bold;
}
div.hint {
    display: none;
}
/* Tag Markup */
body{
    font-family: 'Quicksand', sans-serif;
    background-image: url('../img/concrete.jpg');
    background-repeat: repeat;
}
ol {
    margin-top: 0.2em;
    list-style-type: decimal;
    list-style-position: inside;
}
h1,h2,h3 {
    color:rgb(50,62,99);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.25em;
}

div.step{
    min-width: 900px;
    min-height: 700px;
    font-size: 48px;
    border: 1px solid red;
}
.small {
    font-size: 66%;
}
/* Impress-related markup */
.impress-enabled .step.active {
    border: none;
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-not-supported div.fallback-message{
    display: block;
    height: 100px;
    width: 250px;
    margin-left: -125px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;

}
.impress-on-title div.hint{
    display: block;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}
.impress-on-CendariArchive {
    background-image: url('../img/archive.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.impress-on-Purpose{
    background-image: url('../img/iss.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.impress-on-CendariNTE {
    background-image: url('../img/nte.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.impress-on-WWWWH{
    background-image: url('../img/tools.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.impress-on-Cendari{
    background-image: url('../img/cendari.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.impress-on-CendariNTE div#CendariNTE{
    background: none;
}
.impress-on-Cendari div#Cendari{
    background: none;
}

.impress-on-overview div:hover{
    opacity: 1;
    background-color: #fff;
}

/* specific divs */
div#title{
    text-align: center;
}
div#Purpose {
    text-align: center;
    text-shadow:
    3px 3px 0 #fff,
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
div#Purpose h3{
    display: block;
    margin: 0.5em; 
}
div#WWWWH div.Ws{
    background-color: rgb(220, 220, 220);
    margin-top: 0.25em;
    text-align: center;
    border: 1px dashed;
}
div#WWWWH div.Ws span.not{
    opacity: 0.66; 
    font-size: 0.66em;
}
div#Cendari{
    background-image: url('../img/cendari.png');
}
div#CendariArchive {
    font-size: 24px;
}
div#CendariArchive section{
    background-color: white;
    border: 1px solid black;
    margin: 0.25em;
}
div#CendariArchive li{
    margin: 0.2em;
}
div#CendariArchive a{
    font-size: 16px;
}
div#CendariNTE {
    background-image: url('../img/nte.png');
}
div#Workshop img{
    display: inline-block;
    width:31% ;
}
div#Workshop div.over{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 33%; 
    background: rgba(255,255,255, 0.5);
}
div#Conclusion {
    text-align: justify;
}
div#Conclusion h1{
    display: inline-block;
    width: 100%;
}
div#overview {
    display: none;
}
